.card{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;

}

.desc{
    padding: 0 10px 0 10px;
}

img{
    width: 100%;
}

.card:hover{
    box-shadow: 0px 8px 16px gold;
} 